<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('addUserList', object) }}" onclick="return confirm('Vous allez abonner tous les utilisateurs de la plateforme à cette liste. Cette action est irréversible, voulez-vous continuer ?')">Abonner tous les utilisateurs</a>

