{% extends "::application.html.twig" %} 

{% block title %}Accueil{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading" class="hidden-print">
                    <ol class="breadcrumb">
                        <li class="active">Accueil</li>
                    </ol>
                    <h1>Bienvenue</h1>
                </div>
        {% if "@poste.isima.fr" in app.user.email %}
                        <div class="alert alert-dismissable alert-danger">
                            <strong>Attention :</strong> Vous utilisez une adresse email @poste.isima.fr, pensez à la <strong><a href="{{ path('user_edit_profile', { 'id' : app.user.id }) }}" title"Edition du profil">changer</a></strong>.
                        </div>
                    {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h4>Bienvenue</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Salut et bienvenue sur la nouvelle plateforme <strong>ANELIS</strong>, l'association des <strong>AN</strong>ciens <strong>É</strong>lèves de <strong>L</strong>'<strong>IS</strong>ima !<br>
                                    <br>
                                    Vous êtes actuellement sur la <strong>version bêta</strong> de la plateforme. Si vous trouvez des bugs, n'hésitez pas à nous les <a href="https://bitbucket.org/Dawlys/plateformeanelis/issues?status=new&status=open" target="_blank">signaler</a>. 
                                    <br><br>
                                    En vous remerciant d'avance
                                    <br>
                                    L'équipe ANELIS.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h4>Prochains évènements</h4>
                        </div>
                        <div class="panel-body">
                            <p>07/02/2014 : Gala des 20 ans de l'ISIMA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hidden-print">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-orange" href="#">
                                <div class="tiles-heading">Membres</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-group"></i>
                                    <div class="text-center">{{ users }}</div>
                                    <small>anciens</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="#">
                                <div class="tiles-heading">Annonces</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-eye"></i>
                                    <div class="text-center">0</div>
                                    <small>annonces disponible</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-success" href="#">
                                <div class="tiles-heading">Récrées</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-video-camera"></i>
                                    <div class="text-center">2</div>
                                    <small>talks disponible</small>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-alizarin" href="#">
                                <div class="tiles-heading">Photos</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-camera"></i>
                                    <div class="text-center">20</div>
                                    <small>photos disponible</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div> <!--wrap -->
</div> <!-- page-content -->
{% endblock %}
