<script type='text/javascript' src='http://code.jquery.com/jquery-2.1.0.min.js'></script> 

<form class="form-horizontal" method="post" {{ form_enctype(form) }}>
<div id="social-fields-list">
    {{ form_rest(form) }}
    <div style="text-align: center;">
        <div class="btn-toolbar">
            <button class="btn-primary btn">Enregistrer</button>
            <button class="btn-default btn">Annuler</button>
        </div>
    </div>
    </div>

<a href="#" id="add-another-social">Add social network</a>

</form>

<script type="text/javascript">
    var socialCount = '{{ form.userSocials | length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-social').click(function() {
            var socialList = jQuery('#application_socialbundle_usersocial_userSocials');

            var newWidget = socialList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, socialCount);
            socialCount++;

            // créer une nouvelle liste d'éléments et l'ajoute à notre liste
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#social-fields-list'));

            return false;
        });
    })
</script>
</body>