{% extends "::application.html.twig" %} 

{% form_theme form 'AdminMailingBundle:Form:mailinglist.type.html.twig' %}

{% block body %}
<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#">Plateforme</a></li>
                <li>Administration</li>
                <li class="active">Mailing</li>
            </ol>
            <h1>Gestion des mailing-lists</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Modifier une mailing-list</h4>
                        </div>
                        <div class="panel-body">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->
    </div><!--wrap -->
</div><!-- page-content -->

{% endblock %}