{% extends "::application.html.twig" %} 
{% block stylesheets %}

    <link rel='stylesheet' type='text/css' href='{{ asset('assets/css/yearbook.css') }}' />
{% endblock %}

{% block title %}Yearbook{% endblock %}
    {% block body %}

        <div id="page-content">
          <div id='wrap'>
            <div id="page-heading">
              <ol class="breadcrumb">
                <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                <li><a href="#" title="Yearbook">Yearbook</a></li>
                <li class="active">Liste</li>
              </ol>
            </div>
            <div class="container">
                <div class="lists" >
                     <table>
                         <tr>
                             <td class="listusers">
                                {%  include "ApplicationYearbookBundle:Default:users.html.twig" %}
                            </td>
                            <td>
                                {%  include "ApplicationYearbookBundle:Default:listTo.html.twig" %}
                            </td>
                         </tr>
                     </table>
                </div>
                <div>
                    {%  if user is not null %}
                        {%  if already is null %}
                            {%  include "ApplicationYearbookBundle:Default:new.html.twig" %}
                        {% else %}
                            {%  include "ApplicationYearbookBundle:Default:update.html.twig" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
          </div>
        <!--wrap -->
        </div>
<!-- page-content -->
{% endblock %}