{% extends "::application.html.twig" %} 

{% block title %}Yearbook{% endblock %}
    {% block body %}

        <div id="page-content">
          <div id='wrap'>
            <div id="page-heading">
              <ol class="breadcrumb">
                <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                <li><a href="#" title="Yearbook">Yearbook</a></li>
                <li class="active">Liste</li>
              </ol>
            </div>
            <div class="container">
                <div class="panel panel-primary">
                    <table>
                        <tr>
                            <td>
                                {%  include "ApplicationYearbookBundle:Default:users.html.twig" %}
                            </td>
                            <td>
                                {%  include "ApplicationYearbookBundle:Default:listTo.html.twig" %}
                            </td>
                        </tr>
                        <tr>
                            {%  if user is defined %}
                                 {%  include "ApplicationYearbookBundle:Default:update.html.twig" %}
                            {% endif %}
                        </tr>

                    </table>

                </div>
            </div>
          </div>
        <!--wrap -->
        </div>
<!-- page-content -->
{% endblock %}