{% extends "::application.html.twig" %} 

{% block title %}Partage d'Offres{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                        <li class="active">Partage d'Offre</li>
                    </ol>

                    <h1>Partage d'Offres</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                test
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="form-horizontal tab-pane" id="rechercheZZ">
                                    

                                        <div class="form-horizontal tab-pane" id="rechercheGeoloc">

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--wrap -->
        </div> <!-- page-content -->

            {% endblock %}